<h1>{{title}}</h1>

<p>
  <input id="show-form" type="checkbox" [(ngModel)]="showForm">
  <label for="show-form">Show form</label>
</p>

<form [hidden]="!showForm" >
  <div class="field">
    <label for="name">Name</label>
    <input id="name" type="text" [(ngModel)]="name" name="name" >
  </div>
  <div class="field">
    <label for="country">Country</label>
    <input id="country" type="text" [(ngModel)]="country" name="country">
  </div>
  <button (click)="handleAddClick()">Add to list</button>
</form>

<ul>
  <li *ngFor="let student of students, let ix = index" >
    <h3>Name: {{student.name}}</h3>
    <p>Country: {{student.country}}</p>
    <button (click)="handleRemoveClick(ix)">remove from list</button>
  </li>
</ul>